/* Common styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Navbar */
.navbar-container {
  background-color: #3d88c7;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul li {
  margin-right: 20px;
}

.nav-ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
  font-weight: bold;
}

.nav-ul li a:hover {
  color: #5d9cec;
}

/* Sidebar */
.sidebar {
  width: 20%;
  background-color: #282c34;
  padding: 20px;
  color: #f9f9f9;
  transition: width 0.3s ease;
}

/* Media queries for responsive sidebar */
@media screen and (max-width: 771px) {
  .sidebar {
    display: none;
    /* Hide the sidebar */
  }
}

/* Form */
.main-container {
  display: flex;
}

.container {
  width: 70%;
  /* Full width when sidebar is hidden */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  margin: auto;
}


.form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  margin-right: 20px;
  color: #333;
  width: 150px;
  max-width: 100%;
}

.form-input {
  width: calc(100% - 170px);
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease-in-out;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
}

.form-input:invalid {
  border-color: #dc3545;
}

.form-input::placeholder {
  color: #aaa;
}

.submit-button {
  width: 150px;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  
  justify-content: center;
  align-items: center;
  margin: auto;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Media queries for responsive form */
@media screen and (max-width: 771px) {
  .container {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
  }

  .form-label {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .form-input {
    width: 100%;
    margin-bottom: 8px;
  }

  .submit-button {
    width: 100%;
  }
}

/* Display page */
.display-container {
  padding: 20px;
}

.data-list {
  display: grid;
  grid-gap: 20px;
}

.data-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.field {
  margin-bottom: 10px;
}

.field-name {
  font-weight: bold;
}

/* Media queries for responsiveness */
@media screen and (min-width: 771px) {
  .data-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .data-item {
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .data-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}