/* Common styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-container {
  background-color: #3d88c7;
  color: #fff;
  padding: 10px 20px;
}

.nav-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul li {
  margin-right: 20px;
}

.nav-ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.nav-ul li a:hover {
  color: #5d9cec;
}

/* Media queries for responsive navigation */
@media screen and (max-width: 771px) {
  .nav-ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Sidebar */
.sidebar {
  width: 20%;
  background-color: #282c34;
  padding: 20px;
  color: #f9f9f9;
  transition: width 0.3s ease;
}

/* Media queries for responsive sidebar */
@media screen and (max-width: 771px) {
  .sidebar {
    width: 30%;
    padding: 10px;
    margin: 5px;
  }
}

/* Form */
.main-container {
  display: flex;
}

.container {
  width: 78%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  margin-right: 20px;
  color: #333;
  width: 150px;
  max-width: 100%;
}

.form-input {
  width: calc(100% - 170px);
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  width: 150px;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Media queries for responsive form */
@media screen and (max-width: 771px) {
  .container {
    width: 70%;
    padding: 0;
  }

  .form-label {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .form-input {
    width: 100%;
    margin-bottom: 8px;
  }

  .submit-button {
    width: 100%;
  }
}

/* Responsive card view */
.display-container {
  padding: 20px;
}

.data-list {
  display: grid;
  grid-gap: 20px;
}

.data-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #f9f9f9;
}

.field {
  margin-bottom: 10px;
}

.field-name {
  font-weight: bold;
}

/* Media queries for responsiveness */
@media screen and (min-width: 771px) {
  .data-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .data-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}


